.u-section-1 .u-sheet-1 {
  min-height: 880px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 459px;
  margin: 126px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Asap;
  margin: 90px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 49px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 435px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 274px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
  }
}